body{
    background-color: gray;
}

h1{
    background-color: black;
    background-size: 100% cover;
    color: green;
    text-align: center;
    border-radius: 50px;
}

button{   
    background-color: black;
    color: green;
    text-align: center;
    border-radius: 50px;
    font-size: 30px;
    margin-top: 5%;
}

p{
    text-align: center;
}